@charset "utf-8";
/* CSS Document */

*{
	padding:0px;
	margin:0px;
	list-style: none;
	text-decoration:none;
}




.logo{
	float:left;
	line-height:88px;
	
}
.top-nav{
	float:right;
	line-height:88px;
}
.top-nav>li{
	float:left;
	margin-right:30px;
}

.top-nav>li>a{
	font-size:16px;
	color:#333;
}

.top-head{
	float:left;
}
.user{
	float:left;
	margin:14px 0 0 20px;
}
.user>b{
	font-size:18px;
	color:#666666;
}
.user>p{
	font-size:14px;
	color:#666666;
	margin-top:10px;
}



/*卡片*/

.card>div{
	background:url(../../images/open-service/bg.png);
	width:885px;
	height:431px;
	margin-left:150px;
}


.open-title{
	position:relative;
	left:407px;
	top:-30px;
	
}

.Main-title{
	font-size:24px;
	color:#333333;
}

.Subheading{
	font-size:20px;
	color:#333333;
}

.open-title>h1>p{
	margin:10px 0 0 4px;
}










