@charset "utf-8";
/* CSS Document */

*{
	padding:0px;
	margin:0px;
	list-style: none;
	text-decoration:none;
}




.logo{
	float:left;
	line-height:88px;
	
}
.top-nav{
	float:right;
	line-height:88px;
}
.top-nav>li{
	float:left;
	margin-right:30px;
}

.top-nav>li>a{
	font-size:16px;
	color:#333;
}

.top-head{
	float:left;
}
.user{
	float:left;
	margin:14px 0 0 20px;
}
.user>b{
	font-size:18px;
	color:#666666;
}
.user>p{
	font-size:14px;
	color:#666666;
	margin-top:10px;
}






.name-box{
	
	width:870px;
	height:622px;
	margin:0 0 0 150px;
	border:1px solid #eee;
}




.real-pad{
	padding:0px;
}

.real-pad>input{
	height:40px;
	border-radius:0px;
}
.col-xs-4{
	font-size:15px;
	font-weight:400;
	color:#000;
}



.real-up{
	text-align: center;
	width:246px;
	height:50px;
	border:1px solid #707070;
	border-radius: 44px;

}

.real-up>button{
	line-height: 50px;
	font-size:16px;
	color:#fff;
	font-weight: 500;
	background:#479CFF;
}

